<% provide(:title, @club.name) %>
<div class="row">
	<aside class="col-md-4">
		<section class="club_info">
			<h1>
				<!-- Can put image with class 'clublogo' here. CSS rules already defined. Replace 'gravatar' with 'clublogo' -->
				<%= @club.name %>
			</h1>
		</section>
	</aside>
</div>