<div class="row">
	<aside class="col-md-4">
		<section class="club_info">
			<%= render 'shared/club_info' %>
		</section>
		<section class="student_form">
			<%= render 'shared/student_form' %>
		</section>
	</aside>
</div>