<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>rhys@attendrr.com</p>
<p>Attendrr still has a lot to improve, so if you have any comments, feel free to email or leave it in our <%= link_to "facebook community", "https://www.facebook.com/attendrr/?view_public_for=101194941347353" %>.</p>
<!-- add facebook link -->