<%= stylesheet_link_tag 'clubs', media: 'all' %>

<div class="show-container rounded"> 
	<div class="show-child-container">
  		<header class="show-header">
		    <h1 class="show-title">Getting Started</h1><br>
		</header>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/yKTx99kRlks" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  	</div>
</div>