<div class="thumbnail">
    <div class="scroll-area2">
    <% @student_present.each do |student| %>
      <p><strong><%= student.first_name + " " + student.last_name %></strong></p>
    <% end %>
    </div>
    </div>