<div class="row text-center center-block">
  <div class="col-sm-4 col-sm-offset-2">
    <div class="thumbnail">
      <p><strong>student1</strong></p>
      <p><strong>student1</strong></p>
      <p><strong>student1</strong></p>
      <p><strong>student1</strong></p>
      <p><strong>student1</strong></p>
      <p><strong>student1</strong></p>
      <p><strong>student1</strong></p>
      <p><strong>student1</strong></p>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <p><strong>student1</strong></p>
      <p><strong>student1</strong></p>
      <p><strong>student1</strong></p>
      <p><strong>student1</strong></p>
      <p><strong>student1</strong></p>
      <p><strong>student1</strong></p>
      <p><strong>student1</strong></p>
      <p><strong>student1</strong></p>
    </div>
  </div>
</div>