<% provide(:title, "Students") %>
<% @students.each do |s| %>
	<ul>
		<li>
			<%= link_to s.last_name + ", " + s.first_name, student_path(s) %><br>
			<%= image_tag s.picture.url if s.picture? %>
		</li>
	</ul>
<% end %>
Total attendances: <%= @total_attendances %><br>
Average length of membership: <%= @average_membership_length %> days