<table id="products" class="display" data-source="<%= student_attendance_students_url(student_id: params[:student_id],activity_id: params[:activity_id],format: "json") %>">
  <thead>
    <tr>
      <th>Class Name</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Attended on</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>