<h4 style="text-align: center;"><span style="font-family: serif; font-size: xx-large;"><u>ATTENDANCE SHEET</u></span></h4>

  <!-- <h2>Inline form</h2>
  <p>Make the viewport larger than 768px wide to see that all of the form elements are inline, left aligned, and the labels are alongside.</p> -->
  <form class="form-inline" action="#">
    <div class="row">
          <div class="col-md-6">
              <div class="form-group">
      <label for="email">From:</label>
      <input type="text" class="form-control" id="datepicker_from"  name="email">
    </div>
    <div class="form-group">
      <label for="pwd">To:</label>
      <input type="text" class="form-control" id="datepicker_to"  name="pwd">
    </div>
    <button type="submit" class="btn btn-default" style="margin-bottom: 14px;">Submit</button>
          </div>
      </div>
  </form>
<div class="table-responsive">
<table id="products" class="table table-striped table-bordered" cellspacing="0" width="100%" data-source="<%= student_attendance_students_url(student_id: params[:student_id],activity_id: params[:activity_id],format: "json") %>">
  <thead>
    <tr>
      <th>Class Name</th>
      <th>Time</th>
      <th>Day</th>
      <th>Date</th>
    </tr>
  </thead>
  <tfoot>
  	<tr>
                <th>Class Name</th>
                <th>Time</th>
                <th>Day</th>
                <th>Date</th>
            </tr>
  </tfoot>
  <tbody>
  </tbody>
</table>
</div>
<script type="text/javascript">
    $(function () {
        $('#datepicker_from').datetimepicker({
          format: 'DD/MM/YYYY'
        });
        $('#datepicker_to').datetimepicker({
          format: 'DD/MM/YYYY'
        });
    });
</script>