<h1>Attendrr</h1>

<p>Hi <%= @club.owner_first_name %>,</p>

<p>Welcome to Attendrr! Click the link below to access the account for <%= @club.name %></p>

<p>You CAN reply to this email. If you have any questions, comments or issues, hit reply and we will get back to you as soon as possible</p>

<%= link_to "Activate", edit_account_activation_url(@club.activation_token, email: @club.email) %>