@import "bootstrap_custom";
@import "select2";
@import "select2-bootstrap";
@import "tempusdominus-bootstrap-4";
@import 'dataTables/src/demo_table_jui';


// TODO: remove it after accepting PR
@import 'demo';

// TODO: review it
// @import 'activities';
 @import 'custom';
// @import 'landing_page';
// @import 'students';
