@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$gray-light: #eaeaea;
$gray-lighter: #eaeaea;
$gray: #eaeaea;
$gray-darker: #eaeaea;
$state-danger-text: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */
body {
  background-color: #F5F7FB;
}

i {
  border: none !important;
}

.break {
  flex-basis: 100%;
  height: 0;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

/* typography */


h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  text-align: center;
  line-height: 1.2;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;

  a {
    color: $gray;

    &:hover {
      color: $gray-darker;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.club_info {
    margin-top: 20px;
  }

  section {
    padding: 10px 0;
    margin-top: 20px;

    &:first-child {
      border: 0;
      padding-top: 0;
    }

    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }

    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.clublogo {
  float: left;
  margin-right: 10px;
}

.clublogo_edit {
  margin-top: 15px;
}

/* forms */

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;

  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {

  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;

  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Clubs index */

.clubs {
  list-style: none;
  margin: 0;

  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* students */

.students {
  list-style: none;
  padding: 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }

  .user {
    margin-top: 5em;
    padding-top: 0;
  }

  .content {
    display: block;
    margin-left: 60px;

    img {
      display: block;
      padding: 5px 0;
    }
  }

  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;

  input {
    border: 0;
  }
}

.attendance-div {
  background-color: #e9e9e9;
  margin-left: 16px;
  border-radius: 4px;
  margin-right: 16px;
}


/**/
.grade-head {
  margin: 0 0 25px;
}

.grade-head h4 {
  display: flex;
}

.grade-head h4 span {
  margin-left: auto;
}

ul.grade-list-bx {
  padding: 0 0 0 50px;
}

ul.grade-list-bx li {
  display: flex;
  margin: 0 0 15px;
  position: relative;
}

ul.grade-list-bx li:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 100%;
  position: absolute;
  background-color: #525151;
  top: 6px;
  left: -16px;
}

ul.grade-list-bx li span.first {
  width: 20%;
}

ul.grade-list-bx li span.middle {
  width: 73%;
}

ul.grade-list-bx li span.last {
  width: 7%;
}

ul.grade-list-bx li span.chk-bx input {
  display: block;
  width: 20px;
  margin-left: auto;
  margin-right: 30px;
}

ul.grade-list-bx li span select {
  margin: 0;
}

.club_info {
  margin-top: 36px;
}

.club_name_box {
  height: 100px;
  margin-top: auto;
  margin-bottom: auto;
}

.club_name {

  font-size: 24px;
  margin-bottom: 0;
  padding-left: 8px;
}

.club_logo {
  height: 100%;
  width: auto;
}

.add_new_student>a {
  padding: 10px 8px;
  margin: 8px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ff0000;
  color: #fff;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

.add_new_student>a:hover {
  text-decoration: none;
  background-color: #000;
}

.div_box {
  height: 200px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 2px #e8e8e8;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

.div_box:hover {
  box-shadow: 2px 2px 24px #e8e8e8;
  -webkit-transition: all .64s ease-in;
  transition: all .64s ease-in;
}

.custom_icons {
  width: 60px;
  height: 60px;
}

.container,
.container-fluid {
  margin-top: 24px;
}

.club_info>div>div>a {
  text-decoration: none;
}

.redirect_link {
  color: #000;
}

.redirect_link:hover {
  color: #ff0000;
  text-decoration: none !important;
}

.redirect_div {
  display: block;
}

.dropdown-menu {
  left: -56px;
}

.dropdown-item {
  color: #ff0000;
}

.dropdown-item>a {
  color: #ff0000;
}

.dropdown-item>a:hover,
.dropdown-item:hover,
.previous>a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #000;
  transition: all .4s ease-out;
}

.dropdown-item_anchor {
  color: #fff !important;
}

.go_button {
  border: 1px solid #c5c5c5;
}

.attendance_class {
  border: 1px solid #c5c5c5;
  height: 15vh;
}

.attendance-box {
  height: 15vh;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 2px #e8e8e8;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

.attendance-box:hover {
  box-shadow: 2px 2px 24px #e8e8e8;
  -webkit-transition: all .64s ease-in;
  transition: all .64s ease-in;
}

.row {
  margin-right: 15px;
  margin-left: 15px;
}

.previous>a,
.next>a {
  border: 1px solid #c5c5c5;
  border-radius: 24px;
  padding: 8px;
  color: #000;
}

.previous>a:hover,
.next>a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #000;
  transition: all .4s ease-out;
}

.schedule_time {
  font-size: 24px;
}

.schedule_time,
.schedule_name {
  text-transform: uppercase;
}


.scheduled_class_div>a {
  color: #000;
}

.scheduled_class_div>a:hover {
  text-decoration: none;
  color: #ff0000;
}

#absent {
  background-color: #ff7675;
}

#present {
  background-color: #74b9ff;
}

.attandance-date>a,
.attendance-absent-student>a {
  color: #000 !important;
}

.attandance-date>a:hover {
  color: #007bff !important;
  text-decoration: none;
}

.attendance-absent-student>a:hover {
  text-decoration: none;
  color: #fff !important;
}

.attendance-present-student>a:hover {
  text-decoration: none;
  color: #000 !important;
}

.scroll-area,
.scroll-area2 {
  height: 50vh;
  overflow-y: scroll;
  scrollbar-color: #7f7f7f3d transparent;
  /* thumb and track color */
  scrollbar-width: thin;
}

#absent,
#present {
  border-radius: 20px;
}

.absent_div,
.present_div {
  border-radius: 35px;
  width: calc(100% - 18px);
}

.student_img {
  width: auto;
  height: 100px;
  border-radius: 50%;
}

.absent_student,
.present_student {
  background-color: #fff;
  border-radius: 16px;
  height: 65px;
}

.student_div {
  height: 200px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 2px #e8e8e8;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

.student_div:hover {
  box-shadow: 2px 2px 24px #e8e8e8;
  -webkit-transition: all .64s ease-in;
  transition: all .64s ease-in;
}

.student-link:hover {
  text-decoration: none;
}

// .student_div>.student:nth-child(odd){
//   background-color: #f3dfdf;
//   border-radius: 16px;
//   height: 65px;
// }

// .class-time:nth-child(even){
//   background-color: #ffb8b8;
// }
// .class-time:nth-child(odd){
//   background-color: #fff5f5;
// }

.student_name {
  color: #000;
}

.student_attance_div:hover,
.student_div:hover {
  text-decoration: none !important;
}

.student_attance_div:hover .student_name,
.student_div:hover .student_name {
  color: #007bff;
}

.staight-line {}

.nav_link:hover {
  text-decoration: none;
}

.single_student_name {
  font-size: 24px;
  font-weight: bold;
  white-space: nowrap;
}

.single_student_img {
  border-radius: 12px;
  width: 100%;
  height: auto;
}

.studentpage p {
  line-height: 16px;
}

.single_student_class {
  font-size: 24px;
}

.btn-pay {
  font-size: 15px;
}

.btn-danger {
  // padding: 10px 8px;
  // margin: 8px 0;
  // border: none;
  // border-radius: 5px;
  background-color: #ff0000;
  color: #fff;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

#student_payment_plan_id {
  padding: 8px;
}

.chk-box {
  display: none;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #06090c;
  border-color: #06090c;
}

.class-name {
  font-size: 24px;
  text-transform: uppercase;

}

.class-name:hover {
  text-decoration: none;
  color: #ff0000;

}

.class-box,
.single-class-box {
  background-color: #f9f9f9;
  border-radius: 16px;
}

.custom-link {
  border: 1px solid #007bff;
  padding: 8px;
  border-radius: 24px;
}

.custom-link:hover {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.btn-delete {
  border: 1px solid #ff0000;
  padding: 8px;
  border-radius: 24px;
  color: #ff0000;
}

.btn-delete:hover {
  background-color: #ff0000;
  color: #fff;
  border-color: #ff0000;
}

.title {
  text-transform: capitalize;
  font-size: 2rem;
}

h1 {
  text-transform: capitalize;
}

.link-text-decoration-none:hover {
  text-decoration: none;
}

.add-rank-link {
  color: #ff0000;
}

.add-rank-link:hover {
  text-decoration: none;
  color: #007bff;
}

.white-box {
  background: #fff;
  padding: 13px 12px;
  background: #fbfbfb;
  margin-bottom: 15px;
  border-radius: 8px;
}

.bg-warning-gradient {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.bg-success-gradient {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.front-dashboard .col-xs-3 div span {
  padding: 6px 13px;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  display: inline-block !important;
}

.front-dashboard .col-xs-3 i {
  color: #ffffff;
  font-size: 12px;
  border: none;
  padding: 0;
}

.r-50 {
  border-radius: 50%;
}

.custom-shadow {
  box-shadow: 2px 2px 24px #e8e8e8;
  -webkit-transition: all .64s ease-in;
  transition: all .64s ease-in;
}

.deactive-student-link {
  color: #ff0000;
}

.deactive-student-link:hover {
  text-decoration: none;

}

.club_info {
  a {
    .row {
      margin-right: 0 !important;
      margin-left: 0 !important;
    }
  }

  a:hover {
    transition: all .4s ease-out;

    img {
      filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
    }

    .redirect_link {
      color: #ff0000 !important;
    }
  }
}

.attadance-student-img {
  width: auto;
  height: 50px;
  border-radius: 50%;
}

.account-menu>a:hover {

  text-decoration: none !important;

}

.add_new_student_div {
  padding: 10px 8px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  background-color: #ff0000;
  color: #fff;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;

}

.add_new_student_div:hover {
  padding: 10px 8px;
  margin: 8px 0;
  background-color: #000 !important;
  color: #fff !important;
  -webkit-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
}

@include media-breakpoint-down(sm) {
  .club_info {
    .row {
      .col-6 {
        padding-right: 8px !important;
        padding-left: 0 !important;
      }
    }
  }
}

@media (min-width: 768px) {

  .scroll-area::-webkit-scrollbar {
    width: .4em;
  }

  .scroll-area::-webkit-scrollbar,
  .scroll-area::-webkit-scrollbar-thumb {
    overflow: visible;
    border-radius: 4px;
  }

  .scroll-area::-webkit-scrollbar-thumb {
    background: #7f7f7f3d;
  }

}

@media (max-width: 768px) {
  .club_info {
    margin-top: 24px;
  }

  .add_new_student_div {
    margin-top: 18px;
  }

  .club_name_box {
    height: 50px;
  }

  .div_box {
    height: 16vh;
  }

  .custom_icons {
    width: 35px;
    height: 35px;
  }

  .add_new_student>a {
    padding: 6px;
    margin: 8px 20px;

  }

  .previous>a,
  .next>a {
    font-size: 16px;
  }

  .previous,
  .next {
    padding-right: 0;
    padding-left: 0;
  }

  .scheduled_class_div>a>.row {
    margin-right: -15px;
    margin-left: -15px;
  }

  .schedule_time {
    font-size: 16px;
  }

  .schedule_name {
    font-size: 12px;
  }

  h4 {
    font-size: 1.25rem;
  }
}

@media (max-height:600px) {

  .div_box,
  .attendance-box {
    height: 30vh;
  }

  .schedule_time {
    font-size: 18px;
  }

}

@media (max-height:400px) {

  .div_box,
  .attendance-box {
    height: 50vh;
    ;
  }
}

/* blog posts */

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  top: 0;
  bottom: auto;
}

.carousel-caption h1 {
  font-size: 400%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
  
}

.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  top: auto;
  bottom: 0;
}

.jumbotron {
  padding: 1rem;
  border-radius: 0;
}

.jumbotron p {
  position: absolute;
}

.container-fluid[style="blog"] {
  margin-top: 0;
}

.container-fluid[style="card"] {
  text-align: center;
}

.container h3 {
  font-size: 200%;
  font-weight: 500;
}

#subscribe {
  background-image: image-url('blog_subscribe_background.jpg');
  background-size: cover;
  background-attachment: fixed;
  min-height: 250px;
}

#subscribe_form {
  padding-top: 100;
}

.submit_button {
  width: 100%;
  text-align: center;
}

#small_button {
  width: 110px;
}

#blog_header {
  font-size: 400%;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 5px;
  padding-top: 10px;
  background: white;
}

#blog_subheader {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  background: white;
}

.carousel_indicators {
  cursor: default;
  pointer-events: none;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay h3{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  color:#fff;
}

#cover_image_container{
  position:relative;
  display:inline-block;
}
#cover_image_container img{
display:block
 }
#cover_image_container .overlay{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

#blog_thumbnail_text {
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#blog_card {
  border-radius: 0;
  box-shadow: 5px 5px 15px red;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
}

#blog_card:hover {
  background: red;
  color: white;
  border-radius: 5px;
  border: none;
  box-shadow: 5px 5px 10px gray;
}

.padding {
  padding-bottom: 10px;
}

.card-title {
  text-align: center;
}

.masthead {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

header.masthead .post-heading h1 {
  text-align: left;
  text-transform: initial;
  font-weight: 800;
  font-size: 35px;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

header.masthead .post-heading h2 {
  text-align: left;
  font-weight: 600;
  margin: 10px 0 30px;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  line-height: 1.1;
  display: block;
}

header.masthead {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: #868e96;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
}

header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.5;
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  padding: 200px 0 150px;
  color: white;
}

header.masthead .post-heading .meta a {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  #blog-show h1 {
    font-size: 55px;
  }
  header.masthead .post-heading .subheading {
    font-size: 30px;
  }
}
/* Blogs Post Heading Section--START */

@media only screen and (min-width: 768px) {
  header.masthead .post-heading h1 {
    font-size: 55px;
  }
  header.masthead .post-heading{
    padding: 200px 0;
  }
}

header.masthead .post-heading .meta {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    font-family: Lora,'Times New Roman',serif;
    line-height: 1.1;
    display: block;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media screen and (min-width: 800px) {
  .container {
    max-width: 1140px;
  }
}
/* Blogs Post Heading Section--END */