@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$gray-light: #eaeaea;
$gray-lighter: #eaeaea;
$gray: #eaeaea;
$gray-darker: #eaeaea;
$state-danger-text: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.club_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.clublogo {
  float: left;
  margin-right: 10px;
}

.clublogo_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {

  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Clubs index */

.clubs {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* students */

.students {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.attendance-div {
  background-color: #e9e9e9;
  margin-left: 16px;
  border-radius: 4px;
  margin-right: 16px;
}


/**/
.grade-head {margin: 0 0 25px;}
.grade-head h4{display: flex;}
.grade-head h4 span{margin-left: auto;}

ul.grade-list-bx{padding: 0 0 0 50px;}
ul.grade-list-bx li{display: flex;margin: 0 0 15px;position: relative;}
ul.grade-list-bx li:before{content: "";width: 6px;height: 6px;border-radius: 100%;position: absolute;background-color: #525151;top: 6px;left: -16px;}
ul.grade-list-bx li span.first {width: 20%;}
ul.grade-list-bx li span.middle {width: 73%;}
ul.grade-list-bx li span.last {width: 7%;}
ul.grade-list-bx li span.chk-bx input{display: block; width: 20px; margin-left: auto; margin-right: 30px;}
ul.grade-list-bx li span select{margin: 0;}
.club_info{
  margin-top: 36px;
}
.club_name_box{
  height: 100px;
  margin-top: auto;
  margin-bottom: auto;
}
.club_name{

  font-size: 24px;
  margin-bottom: 0;
  padding-left: 8px;
}
.club_logo{
  height: 100%;
  width: auto;
}
.add_new_student>a {
  padding: 10px 8px;
  margin: 8px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ff0000;
  color: #fff;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
}
.add_new_student>a:hover{
  text-decoration: none;
  background-color:#000;
}
.div_box{
  border: 1px solid #c5c5c5;
  height: 200px;
  margin-top: auto;
  margin-bottom: auto;
}
.custom_icons{
  width: 60px;
  height: 60px;
}
.container,.container-fluid{
  margin-top: 24px;
}
.club_info>div>div>a{
  text-decoration: none;
}
.redirect_link {
  color: #000;
}
.redirect_link:hover {
  color: #ff0000;
  text-decoration: none!important;
}
.redirect_div {
  display: block;
}
.dropdown-menu{
  left: -56px;
}
.dropdown-item>a{
  color: #ff0000;
}

.dropdown-item>a:hover,.dropdown-item:hover,.previous>a:hover{
  color: #fff;
  text-decoration: none;
  background-color: #000;
  transition: all .4s ease-out;
}
.dropdown-item_anchor{
  color: #fff!important;
}
.go_button{
  border: 1px solid #c5c5c5;
}
.attendance_class{
  border: 1px solid #c5c5c5;
  height: 15vh;
}
.attendance-box{
  background: #f1f1f1;
  border-radius: 24px;
  height: 15vh;
}
.row {
  margin-right: 15px;
  margin-left: 15px;
}

.previous>a ,.next>a{
  border: 1px solid #c5c5c5;
  border-radius: 24px;
  padding: 8px;
  color: #000;
}
.previous>a:hover,.next>a:hover{
  color: #fff;
  text-decoration: none;
  background-color: #000;
  transition: all .4s ease-out;
}
.schedule_time{
  font-size: 24px;
}
.schedule_time,.schedule_name{
  text-transform: uppercase;
}


.scheduled_class_div>a{
  color: #000;
}
.scheduled_class_div>a:hover{
  text-decoration: none;
  color: #ff0000;
}
#absent{
  background-color: #ff7675;
}
#present{
  background-color:#74b9ff;
}
.attandance-date>a,.attendance-absent-student>a{
  color:#000!important;
}
.attandance-date>a:hover{
  color:#007bff!important;
  text-decoration: none;
}
.attendance-absent-student>a:hover{
  text-decoration: none;
  color: #fff!important;
}
.attendance-present-student>a:hover{
  text-decoration: none;
  color: #000!important;
}
.scroll-area,.scroll-area2{
  height: 50vh;
  overflow-y: scroll;
  scrollbar-color: #7f7f7f3d transparent; /* thumb and track color */
  scrollbar-width: thin;
}
.thumbnail{

}


#absent,#present{
  border-radius: 20px;
}
.absent_div,.present_div{
  border-radius: 35px;
  width: calc(100% - 18px);
}
.student_img{
  width:60px;
  height: 50px;
  border-radius: 12px;
}
.absent_student,.present_student{
  background-color: #fff;
  border-radius: 16px;
  height: 65px;
}
.student{
  background-color: #f9f9f9;
  border-radius: 16px;
  height: 65px;
}
// .student_div>.student:nth-child(odd){
//   background-color: #f3dfdf;
//   border-radius: 16px;
//   height: 65px;
// }

.class-time:nth-child(even){
  background-color: #ffb8b8;
}
.class-time:nth-child(odd){
  background-color: #fff5f5;
}

.student_name{
  color:#000;
}
.student_attance_div:hover,.student_div:hover{
  text-decoration: none!important;
}
.student_attance_div:hover .student_name,.student_div:hover .student_name{
  color: #007bff;
 }
 .staight-line{

 }
 .nav_link:hover{
   text-decoration: none;
 }
 .single_student_name{
   font-size: 24px;
   font-weight:bold;
   white-space: nowrap;
 }
 .single_student_img{
   border-radius: 12px;
   width: 100%;
   height: auto;
 }
 .studentpage p{
   line-height: 16px;
 }
 .single_student_class{
   font-size: 24px;
 }
 .btn-pay{
   font-size: 15px;
 }
 .btn-danger {
    // padding: 10px 8px;
    // margin: 8px 0;
    // border: none;
    // border-radius: 5px;
    background-color: #ff0000;
    color: #fff;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
 }
 #student_payment_plan_id{
   padding: 8px;
 }
 .chk-box{
   display: none;
 }

 .btn-outline-primary:hover {
     color: #fff;
     background-color: #06090c;
     border-color: #06090c;
 }
 .class-name{
   font-size: 24px;
   text-transform: uppercase;

 }
 .class-name:hover{
   text-decoration: none;
  color: #ff0000;

 }
 .class-box,.single-class-box{
   background-color: #f9f9f9;
    border-radius: 16px;
 }
 .custom-link{
   border: 1px solid #007bff;
    padding: 8px;
    border-radius: 24px;
 }
 .custom-link:hover{
   background-color: #007bff;
   color: #fff;
   border-color: #007bff;
 }
 .btn-delete{
   border: 1px solid #ff0000;
   padding: 8px;
  border-radius: 24px;
  color: #ff0000;
 }
 .btn-delete:hover{
   background-color: #ff0000;
   color: #fff;
   border-color: #ff0000;
 }
 .title{
   text-transform: capitalize;
   font-size: 2rem;
 }
h1{
  text-transform: capitalize;
}
.link-text-decoration-none:hover{
  text-decoration: none;
}
 .add-rank-link{
   color: #ff0000;
 }
 .add-rank-link:hover{
   text-decoration: none;
   color: #007bff;
 }
 @media (min-width: 768px) {

.scroll-area::-webkit-scrollbar {
  width: .4em;
}
.scroll-area::-webkit-scrollbar,
.scroll-area::-webkit-scrollbar-thumb {
  overflow:visible;
  border-radius: 4px;
}
.scroll-area::-webkit-scrollbar-thumb {
  background: #7f7f7f3d;
}

 }
@media (max-width: 768px) {
  .club_info{
    margin-top: 24px;
  }
  .add_new_student_div{
    margin-top: 18px;
  }
  .club_name_box{
    height: 50px;
  }
  .div_box{
    height: 16vh;
  }
  .custom_icons{
    width: 35px;
    height: 35px;
  }
  .add_new_student>a {
    padding: 6px;
    margin: 8px 20px;

  }
  .previous>a ,.next>a{
    font-size: 16px;
  }
  .previous,.next{
    padding-right:0;
    padding-left: 0;
  }
  .scheduled_class_div>a>.row{
    margin-right: -15px;
    margin-left: -15px;
  }
  .schedule_time{
    font-size: 16px;
  }
  .schedule_name{
    font-size: 12px;
  }
  h4{
    font-size: 1.25rem;
  }
}
