* {
  font-family: Poppins;
  scroll-behavior: smooth;
}
section {
  overflow: hidden;
}
html,
body {
  height: 100%;
}
nav > a {
  color: #ff0000 !important;
  text-decoration: none !important;
}

.signupbox:hover,
.loginbox:hover {
  color: #000;
  text-decoration: none !important;
}
.font-50 {
  font-size: 48px;
}
.vh-70 {
  height: 70vh;
}
.vh-80 {
  height: 80vh;
}
.font-25 {
  font-size: 25px;
}
.red-font {
  color: red;
}
.bottom-border {
  border-bottom: 1px solid #ff0000;
}
.navbar {
  min-height: 70px;
  margin-bottom: 20px;
}
.nav-link {
  color: #000 !important;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  background: #fff;
}
.nav-link:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #ff0000 !important;
}
.logo {
  height: 50px;
  left: 15px;
  max-height: 50px;
}
.banner {
  padding-top: 80px !important;
}
.signupbox {
  padding: 10px 8px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  background-color: #ff0000;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s ease-out;
}
.signupbox:hover {
  background-color: #000 !important;
  color: #fff !important;
  transition: all 0.6s ease-in;
}
.loginbox {
  padding: 10px 8px;
  /* margin: 8px 5px; */
  border: 1px solid #ff0000;
  border-radius: 5px;
  color: #000;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

.loginbox:hover {
  color: #fff !important;
  background-color: #ff0000 !important;
  transition: all 0.6s ease-in;
}
.accountbox {
  padding: 10px 8px;
  margin: 0;
  border: none;
  border-radius: 5px;
  background-color: #ff0000;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s ease-out;
}
.accountbox:hover {
  background-color: #000;
  color: #fff;
  transition: all 0.4s ease-out;
  text-decoration: none;
}

.section-2 {
  background-color: #fff6f6;
}
.list > li {
  list-style: none;
}
.nav-footer {
  list-style: none;
  clear: both;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  margin: 0;
  padding: 0;
  border: 0;
}
.nav-footer > li > a :hover {
  cursor: pointer;
  text-decoration: none !important;
}

.list > li::before {
  content: "\f10c";
  font-family: FontAwesome;
  color: #ff0000;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.color {
  color: #4caf50;
}
.section-4 {
  background-color: #fff6f6;
  text-align: center;
  padding: 20px;
}
.mailbox {
  padding: 10px 8px;
  margin: 8px 0;
  border: 1px solid #ff0000;
  border-radius: 5px;
  color: #000;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  transition: all 0.6s ease-out;
}
.mailbox:hover {
  color: #fff;
  background-color: #ff0000;
  transition: all 0.6s ease-in;
}
.clrbox {
  padding: 10px 8px;
  margin: 8px 0;
  border: 1px solid #ff0000;
  border-radius: 5px;
  background-color: #ff0000;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: all 0.6s ease-out;
}
.clrbox:hover {
  background-color: transparent;
  color: #ff0000;
  transition: all 0.6s ease-in;
}
#scrollTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 10px 14px 5px 14px;
  border-radius: 4px;
  transition: all 0.6s ease-in;
}

#scrollTop:hover {
  background-color: #555;
  transition: all 0.6s ease-in;
}

.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler:hover {
  background: transparent !important;
}

.navbar-toggler .icon-bar {
  height: 2px;
  width: 22px;
  border-radius: 1px;
  display: block;
  background-color: #ff0000;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}

/*---Animation menu (create X)---*/

.navbar-toggler.x .icon-bar:nth-of-type(1) {
  -webkit-transform: translateX(3px) rotate(45deg);
  /* Safari 3-8 & Chrome 4-35 & Opera 15-22 */
  -ms-transform: translateX(3px) rotate(45deg);
  /* IE 9 */
  -moz-transform: translateX(3px) rotate(45deg);
  /* Firefox 3-15 */
  -o-transform: translateX(3px) rotate(45deg);
  /* Opera 10-14 */
  transform: translateX(3px) rotate(45deg);
  -webkit-transform-origin: 10% 10%;
  -ms-transform-origin: 10% 10%;
  -moz-transform-origin: 10% 10%;
  -o-transform-origin: 10% 10%;
  transform-origin: 10% 10%;
}

.navbar-toggler.x .icon-bar:nth-of-type(2) {
  opacity: 0;
  filter: alpha(opacity=0);
  /* For IE8 and earlier */
  -moz-opacity: 0;
  /* Older Firefox 1 */
}

.navbar-toggler.x .icon-bar:nth-of-type(3) {
  -webkit-transform: translateX(3px) rotate(-45deg);
  -ms-transform: translateX(3px) rotate(-45deg);
  -moz-transform: translateX(3px) rotate(-45deg);
  -o-transform: translateX(3px) rotate(-45deg);
  transform: translateX(3px) rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
  -ms-transform-origin: 10% 90%;
  -moz-transform-origin: 10% 90%;
  -o-transform-origin: 10% 90%;
  transform-origin: 10% 90%;
}

.navbar-toggler.x.collapsed .icon-bar:nth-of-type(1) {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}

.navbar-toggler.x.collapsed .icon-bar:nth-of-type(2) {
  opacity: 1;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
}

.navbar-toggler.x.collapsed .icon-bar:nth-of-type(3) {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}

/*---To center elements of the navbar (mobile)---*/

.navbar-brand {
  font-size: 1rem;
}
.navbar {
  background: #fff;
}

/*---Custom AnimateCSS mobile menu items---*/

.nav-item {
  -webkit-animation-duration: 0.8s;
  /* Chrome 3-42 & Safari 4-8 & Opera 15-29 */
  -moz-animation-duration: 0.8s;
  /* Firefox 5-15 */
  -o-animation-duration: 0.8s;
  /* Opera 12-14 */
  animation-duration: 0.8s;
}
#scrollTop > i {
  border: solid #fff !important;
  border-width: 0 3px 3px 0 !important;
  display: inline-block;
  padding: 5px;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.try_btn {
  color: #fff;
}
.try_btn:hover {
  color: #ff0000;
  text-decoration: none !important;
}
@media only screen and (max-width: 991px) {
  #navbarText {
    height: 100vh !important;
  }
}

@media only screen and (min-device-width: 992px) {
  #navbarText {
    height: auto;
  }
}

@media (max-width: 768px) {
  .heading {
    margin-top: 7vh !important;
  }
  .font-50 {
    font-size: 32px;
  }
  .vh-70 {
    height: 100vh;
  }
  .font-25 {
    font-size: 24px;
  }
  .section-4 {
    background-color: #fff6f6;
    padding: 42px;
    margin-top: 32px;
  }
  .signupbox,
  .loginbox,
  .accountbox {
    padding: 4px 8px;
  }
}
@media screen and (max-width: 600px), screen and (max-height: 700px) {
  .vh-70 {
    height: 90vh;
  }
}

/* For Blog posts show page image shrink and expand--START--*/
.ImagesAutoResize img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* For Blog posts show page image shrink and expand--END--*/

.addNewClassBtn {
  margin: 10px;
}

.paymentPlansBtns { 
  visibility: hidden;
}

.clubNotificationMessages a { 
  display: block; 
  background-color: #00FF00;
  color: black;
  font-weight: 700;
}

.clubNotificationMessages {
  padding-left: 6%;
}

.flashMessageAlignment {
  top: 17px;
}

.clubNameCentered {
  position: absolute;
  top: 0;
  left: 50%;
  margin: 25px 0 0 -55px;
}

.paymentBtns {
  width: 140px;
  height: 44px;
}

label.paymentPlanslabelsText {
  display: block;
  text-align: center;
  line-height: 150%;
  font-size: 16.85px;
  margin-top: -25%;
    
}

.horizontal-line:before {
  display: block;
  color: black;
  margin: 0;
  padding: 0;
  height: 10px;
  font-size: 10px;
}

a.horizontal-line {
  color: black;
  font-weight: 700;
  margin-left: 10px;
}

.field_with_errors label,
.field_with_errors .form-control-feedback,
.field_with_errors .form-control-label,
.field_with_errors .col-form-label,
.field_with_errors .form-check-label,
.field_with_errors .custom-control {
  color: #d9534f;
}

.field_with_errors .form-control {
  border-color: #d9534f;
}

.field_with_errors .input-group-addon {
  color: #d9534f;
  border-color: #d9534f;
  background-color: #fdf7f7;
}

.field_with_errors .form-control-danger {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d9534f' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E");
}

.clubInfoNotifications {
  text-align: left;
  display: inline-flex;
}

/* Below CSS is for Activities Edit Page--START--*/
.activityActionBtn {
  display: inline-block;
}

.editActivityResponsive > select {
  width: 15%;
  margin-right: 8px;
  margin-left: 8px;
} 
/* Below CSS is for Activities Edit Page--END--*/

/* Below media queries is for Activities Edit Page Devices Responsive UI--START--*/
@media screen and (max-width:732px) {
  .editActivityResponsive {
    display: block !important;
  }
  .activityActionBtn {
    display: inline-grid;
    width: 100%;
  }
  .editActivityResponsive > select {
    width: 47%;
    margin: 0px;
  }
  .editActivityResponsive > label {
    width: 100%;
    padding-left: 2%;
  }
}
/* Below media queries is for Activities Edit Page Devices Responsive UI--END--*/