*{
	font-family: Poppins!important;
	scroll-behavior: smooth;

}
html, body { height: 100%; }
nav>a {
	color: #ff0000!important;
	text-decoration: none!important;
}

.signupbox:hover,.loginbox:hover  {
	color: #000;
	text-decoration: none!important;
}
.font-50{
	font-size: 48px;
}
.vh-70{
	height: 80vh;
}
.font-25{
	font-size: 25px;
}
.red-font {
	color: red;
}
.bottom-border{
	border-bottom: 1px solid #ff0000;

}
.navbar {

    min-height: 70px;
    margin-bottom: 20px;

}
.nav-link{
	color:#000!important;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	background: #fff;
}
.nav-link:hover,.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	color:#ff0000!important;
}
.logo
{
	height: 50px;
	left: 15px;
	max-height: 50px;
}
.banner{
	padding-top: 80px!important;
}
.signupbox {
	padding: 10px 8px;
	margin: 8px 0;
	border: none;
	border-radius: 5px;
	background-color: #ff0000;
	color: #fff;
	text-align: center;
	cursor: pointer;
	transition: all .4s ease-out;
}
.signupbox:hover{
	background-color: #000!important;
	color: #fff!important;
	transition: all .6s ease-in;
}
.loginbox {
	padding: 10px 8px;
	margin: 8px 5px;
	border: 1px solid #ff0000;
	border-radius: 5px;
	color: #000;
	background-color: #fff;
	text-align: center;
	cursor: pointer;
	transition: all .4s ease-out;
}

.loginbox:hover {
	color: #fff!important;
	background-color: #ff0000!important;
	transition: all .6s ease-in;

}
.section-2{
	background-color: #fff6f6;;
}
.list >li{
	list-style: none;

}
.nav-footer {
	list-style: none;
	clear: both;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #fff;
	margin: 0;
	padding: 0;
	border: 0;
}
.nav-footer>li>a :hover{
	cursor: pointer;
	text-decoration: none!important;
}

.list >li::before {
	content: "\f10c";
	font-family: FontAwesome;
	color: #ff0000;
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}
.color {
	color: #4CAF50;
}
.section-4{
	background-color: #fff6f6;;
	text-align: center;
	padding: 20px;
}
.mailbox {
	padding: 10px 8px;
	margin: 8px 0;
	border: 1px solid #ff0000;
	border-radius: 5px;
	color: #000;
	text-align: center;
	cursor: pointer;
	background-color: #fff;
	transition: all .6s ease-out;
}
.mailbox:hover {
	color: #fff;
	background-color: #ff0000;
	transition: all .6s ease-in;
}
.clrbox {
	padding: 10px 8px;
	margin: 8px 0;
	border:  1px solid #ff0000;
	border-radius: 5px;
	background-color: #ff0000;
	color: #fff;
	text-align: center;
	cursor: pointer;
	transition: all .6s ease-out;
}
.clrbox:hover{
    background-color:transparent;
    color:#ff0000;
    transition: all .6s ease-in;
}
#scrollTop {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: red;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
	transition: all .6s ease-in;
}

#scrollTop:hover {
	background-color: #555;
	transition: all .6s ease-in;
}

.navbar-toggle {
  border: none;
  background: transparent !important;
}

.navbar-toggle:hover {
  background: transparent !important;
}

.navbar-toggle .icon-bar {
  height: 2px;
  width: 22px;
  border-radius: 1px;
  display: block;
  background-color: #ff0000;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.navbar-toggle .icon-bar+.icon-bar {
  margin-top: 4px;
}


/*---Animation menu (create X)---*/

.navbar-toggle.x .icon-bar:nth-of-type(1) {
  -webkit-transform: translateX(3px) rotate(45deg);
  /* Safari 3-8 & Chrome 4-35 & Opera 15-22 */
  -ms-transform: translateX(3px) rotate(45deg);
  /* IE 9 */
  -moz-transform: translateX(3px) rotate(45deg);
  /* Firefox 3-15 */
  -o-transform: translateX(3px) rotate(45deg);
  /* Opera 10-14 */
  transform: translateX(3px) rotate(45deg);
  -webkit-transform-origin: 10% 10%;
  -ms-transform-origin: 10% 10%;
  -moz-transform-origin: 10% 10%;
  -o-transform-origin: 10% 10%;
  transform-origin: 10% 10%;
}

.navbar-toggle.x .icon-bar:nth-of-type(2) {
  opacity: 0;
  filter: alpha(opacity=0);
  /* For IE8 and earlier */
  -moz-opacity: 0;
  /* Older Firefox 1 */
}

.navbar-toggle.x .icon-bar:nth-of-type(3) {
  -webkit-transform: translateX(3px) rotate(-45deg);
  -ms-transform: translateX(3px) rotate(-45deg);
  -moz-transform: translateX(3px)rotate(-45deg);
  -o-transform: translateX(3px) rotate(-45deg);
  transform: translateX(3px) rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
  -ms-transform-origin: 10% 90%;
  -moz-transform-origin: 10% 90%;
  -o-transform-origin: 10% 90%;
  transform-origin: 10% 90%;
}

.navbar-toggle.x.collapsed .icon-bar:nth-of-type(1) {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}

.navbar-toggle.x.collapsed .icon-bar:nth-of-type(2) {
  opacity: 1;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
}

.navbar-toggle.x.collapsed .icon-bar:nth-of-type(3) {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}


/*---To center elements of the navbar (mobile)---*/

.navbar-brand {
  font-size: 1rem;
}


/*---Custom AnimateCSS mobile menu items---*/

.nav-item {
  -webkit-animation-duration: 0.8s;
  /* Chrome 3-42 & Safari 4-8 & Opera 15-29 */
  -moz-animation-duration: 0.8s;
  /* Firefox 5-15 */
  -o-animation-duration: 0.8s;
  /* Opera 12-14 */
  animation-duration: 0.8s;
}
i {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

@media only screen and (max-width: 991px) {
  #navbarText {
    height: 100vh !important;
  }
}

@media only screen and (min-device-width: 992px) {

  #navbarText {
    height: auto;
  }
}
/*@media only screen and (max-height: 700px){*/

/*  .vh-70{*/
/*		height: 100vh;*/
/*	}*/
/*}*/

@media (max-width: 768px) {

	.heading{
		margin-top: 7vh!important;
	}
	.font-50{
		font-size: 32px;
	}
	.vh-70{
		height: 100vh;
	}
	.font-25{
		font-size: 24px;
	}
	.section-4 {
    background-color: #fff6f6;
    padding: 42px;
		margin-top: 32px;
}

 }
@media screen and (max-width: 600px) , screen and (max-height: 700px){

  .vh-70{
		height: 120vh;
	}
	/*.heading{*/
	/*	margin-top: 15vh!important;*/
	/*}*/
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse{
	max-height: 100vh!important;
}
.mr-2{
	margin-right: 1em;
}
@media screen and (min-width: 768px){
.pt-md-5, .py-md-5 {
    padding-top: 3rem!important;
}
}
@media screen and (min-width: 768px){
.mt-md-5, .my-md-5 {
    margin-top: 3rem!important;
}
}
.pb-5, .py-5 {
    padding-bottom: 3rem!important;
}
.pt-3, .py-3 {
    padding-top: 1rem!important;
}
.pb-2, .py-2 {
    padding-bottom: .5rem!important;
}
.mt-3, .my-3 {
    margin-top: 1rem!important;
}
.navbar-white{
	background-color: #fff;

}

.align-items-center {
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}
.d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.text-center {
    text-align: center!important;
}
.justify-content-center {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}
.align-self-center {
    -ms-flex-item-align: center!important;
    align-self: center!important;
}
.align-items-center {
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border-style: none;
}
.d-none {
    display: none!important;
}
.d-block {
    display: block!important;
}
@media (min-width: 768px){
	.d-md-block {
	    display: block!important;
	}

}
@media (min-width: 768px){
.d-md-none {
    display: none!important;
}
}

@media (min-width: 768px){
.offset-md-2 {
    margin-left: 16.666667%;
}
}
.mt-2, .my-2 {
    margin-top: .5rem!important;
}
.h6, h6 {
    font-size: 1.8rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}
@media (min-width: 576px){
	.pt-sm-5, .py-sm-5 {
	    padding-top: 3rem!important;
	}
}

@media (min-width: 576px){
	.mt-sm-5, .my-sm-5 {
	    margin-top: 3rem!important;
	}
}

.pt-3, .py-3 {
    padding-top: 1rem!important;
}
.pb-2, .py-2 {
    padding-bottom: .5rem!important;
}
.mt-3, .my-3 {
    margin-top: 1rem!important;
}
@media (min-width: 768px) and (max-width: 1024px) {
	.vh-70 {
	    height: 110vh;
	}
}
section {
    overflow: hidden;
}
