$font-family: "Roboto";
$font-size: 14px;
$color-primary: #ABA194;

#error_explanation ul {
    margin: 0 0 30px 16px;
}

.picture > input {
	background-color: #BA8B00;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

.signup-container {
    width: 95%;
    max-width: 720px;
    margin: 50px auto;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
        opacity: 0;
    transform: translate3d(0, 500px, 0);
    background: #e0a800;
	animation: arrive 500ms ease-in-out 0.9s forwards;

}

.signup-input-field {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
}

.icon {
    height: 44px;
    padding: 14px;
    background: #0056b3;
    color: white;
    min-width: 50px;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    font-size: $font-size;
    background-size: 200% 100% !important;
    animation: move 10s ease infinite;
    transform: translate3d(0, 0, 0);
    background: white;
    height: 100vh
}

.signup-child-container {
    width: 90%;
    max-width: 587px;
    margin: 1vh auto 10vh auto;
}

.signup-header {
    text-align: center;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.7s forwards;
}

.signup-title {
    font-size: $font-size;
    margin-bottom: -10px;
    font-weight: 500;
    color: white;
}

.signup-form {
    border-radius: 6px;
    overflow: hidden;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.9s forwards;
}

.form--no {
    animation: NO 1s ease-in-out;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.signup-form-input {
    display: block;
    width: 100%;
    padding: 10px;
    font-family: $font-family;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    transition: 0.3s;
    
    &:focus {
        background: darken(#fff, 3%);
    }
}

.signup-register-btn {
	margin-top: 20px;
    display: block;
    width: 100%;
    padding: 15px;
    font-family: $font-family;
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    color: white;
    background: #0056b3;
    transition: 0.3s;
    
    &:hover {
        background: darken($color-primary, 5%);
    }
}

.signup-form > section > div > #error_explanation {
    margin-left: 1vh !important;
}

@keyframes NO {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }
    
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes move {
    0% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 0
    }

    100% {
        background-position: 0 0
    }
}

.login-img {
    width: 40px;
    float: right;
    margin-top: -18px;
    margin-right: -60px;
}

@media only screen and (min-width: 768px) {
    /* tablets and desktop */
    .login-img {
        width: 7%;
        margin-top: 1%;
        margin-right: -10%;
    }
}

@media only screen and (max-width: 767px) {
    /* phones */
    .login-img {
        width: 10%;
        margin-top: 1%;
        margin-right: -4%;
    }
    .signup-container {
        margin: 65px auto;
    }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
    .login-img {
        width: 10%;
        margin-top: 1%;
        margin-right: -4%;
    }
}