// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.scroll-area{
  max-height:287px; 
  height:287px; 
  overflow-y:scroll;
  background-color: #454a45;
}
.scroll-area2{
  max-height:287px; 
  height:287px; 
  overflow-y:scroll;
  background-color:red;
}