.scroll-area{
  max-height:287px;
  height:287px;
  overflow-y:scroll;
  background-color: #454a45;
}

.scroll-area2{
  max-height:287px;
  height:287px;
  overflow-y:scroll;
  background-color:red;
}

.dataTables_filter{
  display: none;
}

#prospectplan_wrapper .dataTables_filter{
	display: block;
}
