<% @activities.where(active: true).each do |a| %>
		<ul>
			<li>
				<%= link_to a.name, activity_path(a) %><br>
				Students: link_to @students.count, students_path<br>
				<%= a.club.name %>
			</li>
		</ul>
<% end %>

<span><%= link_to("Add new class", new_activity_path) %></span>