<% @activities.where(active: true).each do |a| %>
		<ul>
			<li>
				<%= link_to a.name, activity_path(a) %><br>
				Students: <%= a.students.count %> (add link to <%= a.name %> students here)<br>
			</li>
		</ul>
<% end %>

<span><%= link_to("Add new class", new_activity_path) %></span>