
<section class="section-5">
  <div class="container">
    <div class="row mt-3 mt-sm-5 pt-3 pt-sm-5 pb-2 pd-sm-5">
      <div class="col-12 offset-md-2 col-md-4  d-md-none d-block section-5-link">
        <h4><strong>Link</strong></h4>
        <ul class="nav-footer">
          <li><%= link_to "About",   about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>

        </ul>

      </div>
      <div class="col-12 col-md-6 section-5-text">
        <p class="mt-2">lopirel plus lopirel plus lopirel plus lopirel plus <br>lopirel plus lopirel plus lopirel plus lopirel plus lopirel plus </p>
        <h6>@2020 attendrr, All right reserved.</h6>
      </div>
      <div class="col-12 offset-md-2 col-md-4  d-md-block d-none section-5-link">
        <h4><strong>Link</strong></h4>
        <ul class="nav-footer">
          <li><%= link_to "About",   about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>

        </ul>

      </div>
    </div>

  </div>
</section>
